@model List<Customer>
@{
    ViewBag.Title = "Customers";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CustomerID</td>
                <td>@c.Name</td>
                <td>@c.Phone</td>
                <td>@c.Email</td>

                <td>                     
                        <a asp-controller="Customer" asp-action="Edit" asp-route-id=@c.CustomerID class="btn btn-info"> Edit </a>
                        <a asp-controller="Customer" asp-action="Delete" asp-route-id="@c.CustomerID" class="btn btn-info"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Add">
    <button type="submit" class="btn btn-info"> Add Customers </button>
</form>


