
@model dynamic
@{
    ViewBag.Title = "Home Page";
}
<h2>Dashboard</h2>

<br /><h4>Sold</h4>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Sale ID</th>
            <th>Product ID</th>
            <th>Item</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (Sold s in Model.Solds)
        {
        <tr>
            <td>@s.SaleID</td>
            <td>@s.ProductID</td>
            <td>@s.Item</td>
            
        </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Add" class="btn btn-info"> Add </a>
<br />



<br /><h4>Product</h4>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Vendor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model.Products)
        {
            <tr>
                <td>@p.ProductID</td>
                <td>@p.Name</td>
                <td>@p.Category.Name</td>
                <td>@p.Vendor.Name</td>
            </tr>
        }
    </tbody>
</table>

<br /><h4>Sale</h4>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Store</th>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sale s in Model.Sales)
        {
            <tr>
                <td>@s.SaleID</td>
                <td>@s.Date</td>
                <td>@s.Store.StoreID</td>
                <td>@s.Customer.Name</td>
            </tr>
        }
    </tbody>
</table>
